<%= form_for(@basketball) do |f| %>
  <% if @basketball.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@basketball.errors.count, "error") %> prohibited this basketball from being saved:</h2>

      <ul>
      <% @basketball.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_area :position %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :college %><br>
    <%= f.text_area :college %>
  </div>
  <div class="field">
    <%= f.label :currently_playing %><br>
    <%= f.check_box :currently_playing %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
